peer:
  build: peer
  hostname: peer
  ports:
    - "8000:8000"
  volumes:
    - prod-env/media:/usr/local/lib/python2.7/dist-packages/peer/media
    - prod-env/static:/usr/local/lib/python2.7/dist-packages/peer/static
    - prod-env/local_settings:/usr/local/lib/python2.7/dist-packages/peer/local_settings
    - prod-env/data:/data
